.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo {
  width: 100px;
  margin-top: 18px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  object-fit: contain;
}
.search {
  display: flex;
  flex: 1;
}
.search input {
  outline: none;
  height: 22px;
  padding: 10px;
  border: none;
  width: 100%;
}
.bx-search {
  padding: 5px;
  height: 22px;
  color: #000;
  background-color: #cd9042;
  cursor: pointer;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_Link {
  color: #fff;
  text-decoration: none;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_optionLineOne {
  font-size: 10px;
}
.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header_optionBasket {
  display: flex;
}
.basket_count {
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 468px) {
  .header_logo {
    width: 60px;
    margin-top: 18px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    object-fit: contain;
  }
  .search {
    display: flex;
    flex: 1;
  }
  .search input {
    outline: none;
    height: 22px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  .bx-search {
    padding: 5px;
    height: 22px;
    color: #000;
    background-color: #cd9042;
    cursor: pointer;
  }
  .header_option {
    margin-left: 5px;
    margin-right: 5px;
  }
  .header_optionLineOne {
    font-size: 9px;
  }
  .header_optionLineTwo {
    font-size: 9.8px;
    font-weight: 500;
  }
  .header_optionBasket {
    display: flex;
  }
  .basket_count {
    margin-left: 4px;
    margin-right: 4px;
  }
}
